<footer class="footer">
    <div class="contenedor">
        <div class="barra">
            <a class="logo" href="index.html">
                <h1 class="logo__nombre no-margin centrar-texto">Mundo de <span class="logo__bold">Libros</span></h1>
            </a>
        <nav class="navegacion__footer">
            <a routerLink="historia" class="enlace__footer">Nosotros</a>
            <a routerLink="biblioteca" class="enlace__footer">Biblioteca</a>
            <a routerLink="" class="enlace__footer">Contactactanos</a>
        </nav>
    </div>
    </div>
</footer>