<footer class="footer">
    <div class="contenedor">
        <div class="barra">
            <a class="logo" href="index.html">
                <h1 class="logo__nombre no-margin centrar-texto">Mundo de <span class="logo__bold">Libros</span></h1>
            </a>
        <nav class="navegacion__footer">
            <a href="nosotros.html" class="enlace__footer">Nosotros</a>
            <a href="cursos.html" class="enlace__footer">Cursos</a>
            <a href="contacto.html" class="enlace__footer">Contactos</a>
        </nav>
    </div>
    </div>
</footer>