<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

<header class="header">
    <div class="contenedor">
        <div class="barra">
            <a class="logo" routerLink="inicio">
                <h1 class="logo__nombre no-margin centrar-texto">Mundo de <span class="logo__bold">Libros</span></h1>
            </a>
            
            <nav class="navegacion">
                <div class="navegacion__enlace">
                    <a class="title">Biblioteca</a>
                    <div class="submenu">
                        <a class="uno" href="generos.html">Géneros</a>
                        <a class="dos" href="autores.html">Autores</a>
                        <a class="tres" href="explorar.html">Explorar</a>
                    </div>
                </div>
                <div class="navegacion__enlace">
                    <a class="title">Sobre Nosotros</a>
                    <div class="submenu">
                        <a class="uno" href="historia.html">Historia</a>
                        <a class="dos" href="mision.html">Misión</a>
                        <a class="tres" href="vision.html">Visión</a>
                    </div>
                </div>
                <div class="navegacion__enlace">
                    <a class="title" routerLink = "login">Iniciar Sesion</a>
                </div>
                <div class="navegacion__enlace">
                    <a class="title">☰</a>
                    <div class="submenu__info">
                        <a class="uno" href="historia.html">Noticias</a>
                        <a class="dos" href="contacto.html">Contactos</a>
                        <a class="tres" href="vision.html">Últimos Libros</a>
                    </div>
                </div>
            </nav>

    </div>
    <div class="header__texto">
        <h2 class="no-margin">DESCÚBRE TU MUNDO</h2>
        <p class="no-margin">Aprénde con la mejor Biblioteca</p>
    </div>
    </div>
</header>