<div class="return-container">
    <div class="image-container">
      <img src="../../../assets/escritor.webp" alt="{{libroSeleccionado.nombre}}" />
      <div class="form-group">
        <label>Autor</label>
        <p>{{libroSeleccionado.autor}}</p>
      </div>
    </div>
    <div class="form-container">
      <h2>DEVOLUCIÓN</h2>
      <form>
        <div class="form-group">
          <label for="name">Nombre del Usuario</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
          <label for="return-date">Fecha de Devolución</label>
          <input type="date" id="return-date" name="return-date" required />
        </div>
        <div class="form-group">
          <label for="comments">Comentarios</label>
          <textarea id="comments" name="comments" rows="4"></textarea>
        </div>
        <button type="submit" class="return-btn">Devolver</button>
        <button type="button" class="cancelar-btn" routerLink="/catalogo">Cancelar</button>
      </form>
    </div>
  </div>
  