.contenedor {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  /* GRID */
  .libros {
    text-align: center;
    padding: 1rem;
    background-color: #f3f3f3;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .buscar{
    color: black;
  }

  .libro {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 300px;
    text-align: center;
    justify-content: center;
  }
  
  .images {
    background-color: #f0f0f0; 
    padding: 1rem;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 1rem;
  }
  
  .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .info h4 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .info p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  .info h5 {
    font-size: 1.1rem;
    color: #4a90e2; /* Azul */
    margin: 0.5rem 0;
  }

  button {
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease;
  }

  .btn-reservar {
    background-color: #f5a623;
    margin-right: 2rem;
  }
  .btn-reservar:hover {
    background-color: #d9534f;
  }



  /*FILTRADO*/


  .search-container {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  max-width: 600px;
  margin: 0 auto;
}

.category-button {
  background-color: #f0a856;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.category-button:hover {
  background-color: #d9534f;
}

.search-input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background-color: #3a524e;
}

.search-input::placeholder {
  color: #b3b3b3;
}

.search-input:focus {
  outline: none;
}
