<main class="contenedor">
    <h1>ADMINISTRAR USUARIOS</h1>
    <form>
        <div class="mb-3">
            <label class="form-label"><strong>Email: </strong></label>
            <p>{{email}}</p>
        </div>
        <div class="mb-3">
            <label for="toggle-switch"><strong>¿Es administrador?</strong></label>
            <label class="switch">
                <input type="checkbox" [(ngModel)]="esAdministrador" id="toggle-switch" name="toggle-switch">
                <span class="slider round"></span>
            </label>
        </div>

        <input type="button" id="cargar" [class.disabled]="!email" (click)="onClickCargar()" [value]="usuarioEnEdicion ? 'Actualizar' : 'Guardar'" class="btn btn-info">
    </form>

    <div class="usuarios">
        <div class="usuario" *ngFor="let usuario of usuarios">
            <div class="info">
                <p>Email: {{ usuario.email }}</p>
            </div>
            <button class="btn-editar" (click)="edit(usuario)"><i class="fas fa-pencil-alt"></i> Editar</button>
        </div>
    </div>
</main>
