<div class="contenedor contenido-principal">
    <main class="blog">
        <h3>Descubre!</h3>

        <article class="entrada">
            <app-carrusel></app-carrusel>


            <div class="entrada__contenido">
                <h4 class="no-margin">Descubre tu Propio Mundo</h4>
                <p>¡Bienvenidos a Mundo de Libros! Aquí encontrarás los mejores libros para todas las edades y gustos. Nuestra biblioteca se enorgullece de ofrecer una amplia variedad de títulos, desde los clásicos de la literatura hasta las últimas novedades. Ya sea que busques inspiración, conocimiento o simplemente una buena historia, Mundo de Libros es tu lugar ideal. Ven y descubre tu próxima gran lectura con nosotros. ¡Te esperamos!</p>
                    <a class="boton boton--primario">Leer Entrada</a>
            </div>
        </article>





        <article class="entrada">
            <div class="entrada__imagen">
                <picture>
                    <source srcset="img/escritor.webp" type="imagen/webp">
                    <img loading="lazy" src="../../../assets/escritor.jpg" alt="entrada imagen">
                </picture>
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">Sthephen King</h4>
                <p>Stephen King es un autor estadounidense conocido por sus obras de terror, suspenso y ciencia ficción. Nació el 21 de septiembre de 1947 en Portland, Maine. Desde una edad temprana, King mostró interés por la escritura, vendiendo historias a sus amigos y participando en la revista de su escuela secundaria.

                Después de graduarse de la Universidad de Maine, King trabajó como profesor mientras continuaba escribiendo en su tiempo libre. Su primera novela publicada, "Carrie", se convirtió en un éxito instantáneo en 1974, lo que marcó el comienzo de una prolífica carrera como escritor.</p>
                    <a class="boton boton--primario">Más Información</a>
            </div>

        </article>
        <article class="entrada">
            <div class="entrada__imagen">
                <picture>
                    <source srcset="img/imagen.webp" type="imagen/webp">
                    <img loading="lazy" src="../../../assets/mejorLibro.png" alt="entrada imagen">
                </picture>
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">Las Hijas de la Criada -> Premio Planeta 2023</h4>
                <p>"Las hijas de la criada" de Sonsoles Ónega, ganadora del Premio Planeta 2023, es una novela que combina elementos históricos y familiares en una trama emocionante y conmovedora. La historia se sitúa en Galicia a principios del siglo XX y sigue las vidas de Clara y Catalina, nacidas en el pazo de Espíritu Santo. La vida de estas hermanas se ve profundamente afectada por una venganza que altera su destino y el de su familia, los Valdés Lazariego.</p>
                    <a class="boton boton--primario">Leer Más</a>
            </div>

        </article>
    </main>
    <aside class="sidebar">
        <h3>Encuentra tu mundo en nuestra biblioteca</h3>
        <ul class="cursos no-padding">
            <li class="widget-curso">
                <h4 class="no-margin">Nuevo: Correr o Morir</h4>
                <p class="widget-curso__label"> Precio:
                    <span class="widget-curso__info">35</span>
                </p>
                <p class="widget-curso__label"> Autor:
                    <span class="widget-curso__info">James Dashner</span>
                </p>
                <a routerLink="/catalogo" class="boton boton--secundario">Biblioteca</a>
            </li>
            <li class="widget-curso">
                <h4 class="no-margin">Harry Potter</h4>
                <p class="widget-curso__label"> Precio:
                    <span class="widget-curso__info">20</span>
                </p>
                <p class="widget-curso__label"> Autor:
                    <span class="widget-curso__info"> J. K. Rowling</span>
                </p>
                <a routerLink="/catalogo" class="boton boton--secundario">Biblioteca</a>
            </li>
        </ul>
    </aside>
</div>
