<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<main class="contenedor">
    <h1>ADMINISTRAR PRODUCTOS</h1>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Nombre</label><br>
            <input type="text" class="form-control" formControlName="nombre">
        </div>
        <div class="mb-3">
            <label class="form-label">Autor</label><br>
            <input type="text" class="form-control" formControlName="autor">
        </div>
        <div class="mb-3">
            <label class="form-label">Precio</label><br>
            <input type="text" class="form-control" formControlName="precio">
        </div>
        <div class="mb-3">
            <label class="form-label">Imagen</label><br>
            <input class="Nuevo" type="file" (change)="uploadImage($event)">
        </div>
        <input type="submit" [value]="libroEnEdicion ? 'Actualizar' : 'Guardar'" class="btn btn-info">
    </form>

    <div class="grid-container">
        <div class="filtro-container">
            <h2>Categorías</h2>
            <ul class="categorias-lista">
                <li *ngFor="let categoria of categorias">
                    <a (click)="filtrarPorCategoria(categoria)">{{ categoria.nombre }}</a>
                </li>
            </ul>
        </div>
        <div class="libros">
            <div class="libro" *ngFor="let libro of librosFiltrados">
                <div class="images">
                    <img [src]="libro.imagen" alt="{{libro.nombre}}">
                </div>
                <div class="info">
                    <h4>{{libro.nombre}}</h4>
                    <p>Autor: {{libro.autor}}</p>
                    <h5>$ {{libro.precio}}</h5>
                </div>
                <button class="btn-editar" (click)="edit(libro)"><i class="fas fa-pencil-alt"></i> Editar</button>
                <button class="btn-eliminar" (click)="delete(libro)"><i class="fas fa-trash-alt"></i> Borrar</button>
            </div>
        </div>
    </div>
</main>
