.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}

/* FORMULARIO */
form {
  background-color: #f3f3f3; /* Fondo gris claro */
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

input {
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049; /* Verde más oscuro al pasar el ratón */
}

/* GRID */
.grid-container {
  display: flex;
  gap: 2rem;
}

.filtro-container {
  margin: 20px 0;
  width: 200px;
}

.categorias-lista {
  list-style-type: none;
  padding: 0;
}

.categorias-lista li {
  margin: 10px 0;
}

.categorias-lista a {
  text-decoration: none;
  color: #0073e6;
  cursor: pointer;
}

.categorias-lista a:hover {
  text-decoration: underline;
}

/* LIBROS */
.libros {
  text-align: center;
  padding: 1rem;
  background-color: #f3f3f3; /* Fondo gris claro */
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.libro {
  background-color: #fff; /* Fondo blanco */
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  justify-content: center;
}

.images {
  background-color: #f0f0f0; /* Fondo gris */
  padding: 1rem;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 1rem;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.info h4 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.info p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.info h5 {
  font-size: 1.1rem;
  color: #4a90e2; /* Azul */
  margin: 0.5rem 0;
}

button {
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease;
}

.btn-editar {
  background-color: #f5a623;
  margin-right: 2rem;
}

.btn-eliminar {
  background-color: #d9534f;
}

button:hover {
  opacity: 0.8;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .grid-container {
    flex-direction: column;
  }

  .filtro-container {
    width: 100%;
    margin-bottom: 2rem;
  }

  .libros {
    flex-direction: column;
  }
}
