:root{
  --fuenteParrafos: 'Open Sans', sans-serif;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
/*GRID*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px){
    .grid{
  grid-template-columns: repeat(3, 1fr);
    }
}

/*lIBROS*/
form{
  background-color: #784d3caa;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
input{
  border-color: #784d3caa;
  border-radius: 0.5rem;
}


.libros{
    text-align: center;
    padding: 1rem;
    background-color: #784d3caa;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.images{
  background-color: white;
  padding: 2rem ;
}
.nuevo{
  background-color: rgb(184, 230, 117);
}
.btn-editar{
  background-color: rgb(225, 222, 40);
}
.btn-eliminar{
  background-color: rgb(212, 64, 64);
}
button{
  border-radius: .5rem;
}

