<main class="contenedor">
    <h3 class="centrar-texto">Historia</h3>

    <div class="sobre-nosotros">
        <div class="sobre-nosotros__imagen">
            <img src="../../../assets/icono.webp" alt="imagen nosotros">
        </div>
        <div class="sobre-nosotros__texto">
            <p>En el pintoresco rincón de Santa Ana de los Cuatro Ríos de Cuenca, Ecuador, se encuentra la encantadora librería Mundo de Libros. Fundada el 15 de mayo de 1998 por los amigos Andrés Chabla y Esteban Cordova, esta librería se ha convertido en un refugio para los amantes de la literatura.

                Andrés y Esteban, apasionados por los libros desde sus días universitarios, decidieron crear un espacio donde las historias cobraran vida. Con ahorros modestos, encontraron el lugar perfecto en una calle tranquila de Cuenca. Mundo de Libros abrió sus puertas a una multitud diversa y rápidamente se transformó en un centro cultural, ofreciendo talleres de escritura, noches de poesía y clubes de lectura.</p>
                
                <p>Famosa por su acogedor rincón de lectura con sillones cómodos y una ventana que daba a un jardín interior, la librería se convirtió en un lugar donde los visitantes podían perderse en los libros durante horas. A lo largo de los años, Mundo de Libros enfrentó desafíos como la llegada de grandes cadenas y la digitalización del mercado, pero Andrés y Esteban siempre encontraron maneras de adaptarse, implementando pedidos en línea y talleres virtuales.

                    En 2023, la librería celebró su 25º aniversario con una gran fiesta, donde clientes, amigos y escritores locales compartieron recuerdos y agradecimientos. Andrés y Esteban, en sus discursos, destacaron cómo Mundo de Libros se ha convertido en un testimonio del poder de la literatura para unir a las personas y transformar vidas.
                    
                    Mundo de Libros sigue siendo un faro de cultura y comunidad en Cuenca, recordándonos que, aunque el mundo cambie, el amor por los libros siempre encontrará un hogar.</p>
        </div>
    </div>
</main>