.reservation-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center; /* Centrando el contenido horizontalmente */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.image-container {
  flex: 1;
  margin-right: 20px;
  text-align: center; /* Centrando el texto y la imagen */
}

.image-container img {
  max-width: 100%;
  max-height: 400px;
  height: auto;
}

.form-container {
  flex: 1;
  max-width: 500px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reserve-btn {
  width: 100%;
  padding: 10px;
  background-color: #f5a623;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserve-btn:hover {
  background-color: #94d94f;
}

.cancelar-btn {
  width: 100%;
  padding: 10px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelar-btn:hover {
  font-size: 1.8rem;
}

.description-container {
  margin-top: 20px;
  text-align: center;
  color: #555;
}

/* Media Queries para hacer el diseño responsive */
@media (max-width: 768px) {
  .reservation-container {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .image-container img {
    max-height: 200px;
  }

  .form-container {
    width: 100%;
  }
}
