.contenedor {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  /* GRID */
  .libros {
    text-align: center;
    padding: 1rem;
    background-color: #f3f3f3;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .libro {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 300px;
    text-align: center;
    justify-content: center;
  }
  
  .images {
    background-color: #f0f0f0; 
    padding: 1rem;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 1rem;
  }
  
  .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .info h4 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .info p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  .info h5 {
    font-size: 1.1rem;
    color: #4a90e2; /* Azul */
    margin: 0.5rem 0;
  }

  /* Contenedor principal para los campos de fecha y botón de reporte */
.date-picker-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2d3e50;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2rem; /* Añadido para separación */
}

/* Estilo para cada campo de fecha */
.date-picker {
  display: flex;
  align-items: center;
}

.date-picker label {
  color: #b3b3b3;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.date-input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  color: #b3b3b3;
  background-color: #3e4e5e;
}

.date-input::placeholder {
  color: #b3b3b3;
}

.date-input:focus {
  outline: none;
}

.generate-report-button {
  background-color: #f0a856;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.generate-report-button:hover {
  background-color: #d9534f;
}
