<main class="contenedor">
    <h3 class="centrar-texto">Misón</h3>

    <div class="sobre-nosotros">
        <div class="sobre-nosotros__imagen">
            <img src="../../../assets/icono.webp" alt="imagen nosotros">
        </div>
        <div class="sobre-nosotros__texto">
            <p>
                En el corazón de Santa Ana de los Cuatro Ríos de Cuenca, Mundo de Libros se dedica a cultivar y nutrir el amor por la literatura en todas sus formas. Fundada por Andrés Chabla y Esteban Cordova, nuestra misión es proporcionar un refugio acogedor y accesible para los amantes de los libros, promoviendo la lectura y el aprendizaje como pilares fundamentales de la comunidad. A través de nuestra selección curada de libros, talleres de escritura, noches de poesía y clubes de lectura, buscamos inspirar la creatividad, el pensamiento crítico y la conexión humana. Nos comprometemos a adaptarnos a los cambios del mercado y a las necesidades de nuestros clientes, ofreciendo servicios en línea y eventos virtuales para llegar a un público más amplio. Mundo de Libros es más que una librería; es un centro cultural donde las historias cobran vida y la pasión por la literatura se convierte en una experiencia compartida.
            </p>
        </div>
    </div>
</main>